@import '../core.scss';

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: $font-stack;
    background-color: $primary-color;
    color: $text-primary-color;
    padding: 30px;
}

.site-map {
    width: 50%;
}

.contact-info {
    display: flex;
    justify-content: center;
    width: 100%;

    h1 {
        text-align: center;
    }

    .contact-item {
        display: flex;
        flex-direction: column;
        padding: 10px;

        a {
            text-decoration: underline;
            color: $text-primary-color;
            font-weight: normal;
        }
    }
}