@import '../core.scss';

.cards-container {
    padding-left: 50px;
    padding-right: 50px;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: center;
    align-items: center;
}

.services-container {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: $secondary-color;
        font-weight: bold;
    }

    h5 {
        margin-top: 10px;
        color: $tertiary-color;
        font-size: 16px;
    }
}



.services-images {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .services-container {
        margin: 0;

        h5 {
            width: 200px;
            text-align: center;
        }
    }

}
