@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import "partials/cards.scss";
@import "partials/tooltips.scss";

$font-stack: 'Lato', sans-serif;
$primary-color: #64b5f6;
$primary-color-light:#9be7ff;
$primary-color-dark: #2286c3;
$secondary-color: #263238;
$secondary-color-light: #4f5b62;
$secondary-color-dark: #000a12;
$text-primary-color: #fafafa;
$text-secondary-color: #1b1b1b;

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
}