@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$font-stack: 'Lato', sans-serif;;
$primary-color: #C6F4FF;
$secondary-color: #2C3F79;
$tertiary-color: #30C5CC;

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
}